<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ResMonTray.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <ResMonTray.Properties.Settings>
            <setting name="ShowResIcon" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ShowCpuIcon" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="RefreshInterval" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="PlotItems" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="PlotWidth" serializeAs="String">
                <value>250</value>
            </setting>
            <setting name="PlotHeight" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="PlotGridColor" serializeAs="String">
                <value>DarkSlateGray</value>
            </setting>
            <setting name="SwapColor" serializeAs="String">
                <value>Yellow</value>
            </setting>
            <setting name="RamColor" serializeAs="String">
                <value>Cyan</value>
            </setting>
            <setting name="CpuTotalColor" serializeAs="String">
                <value>Lime</value>
            </setting>
            <setting name="CpuMaxColor" serializeAs="String">
                <value>Red</value>
            </setting>
            <setting name="Cpu1Color" serializeAs="String">
                <value>LightGreen</value>
            </setting>
            <setting name="Cpu2Color" serializeAs="String">
                <value>255, 246, 42</value>
            </setting>
            <setting name="Cpu3Color" serializeAs="String">
                <value>250, 186, 0</value>
            </setting>
            <setting name="Cpu4Color" serializeAs="String">
                <value>236, 117, 39</value>
            </setting>
            <setting name="Cpu5Color" serializeAs="String">
                <value>226, 0, 59</value>
            </setting>
            <setting name="Cpu6Color" serializeAs="String">
                <value>229, 49, 108</value>
            </setting>
            <setting name="Cpu7Color" serializeAs="String">
                <value>215, 0, 122</value>
            </setting>
            <setting name="Cpu8Color" serializeAs="String">
                <value>174, 50, 136</value>
            </setting>
            <setting name="IconBackgroundColor" serializeAs="String">
                <value>Green</value>
            </setting>
            <setting name="IconSize" serializeAs="String">
                <value>16</value>
            </setting>
            <setting name="PlotRectColor" serializeAs="String">
                <value>LightSlateGray</value>
            </setting>
            <setting name="PlotMarkerColor" serializeAs="String">
                <value>240, 240, 240</value>
            </setting>
        </ResMonTray.Properties.Settings>
    </userSettings>
</configuration>